html{
   font-family: 'Roboto', sans-serif;
   }

   *{
    padding: 0;
    margin: 0;
   }

   .box{
    display:flex;
   }
   a{
   color: white
   }
   #menu{
      width: 25%;
      background-color: #6266fd;
      height: 100vh;
      overflow-y:auto;
      padding-top : 20px;
      box-shadow: rgba(0, 0, 0, 0.10) 2px 3px 3px 0px;
    }
   .menu_style{
     padding : 7px 30px;
     cursor: pointer;
     display:block;
     user-select:none;
    }
   .link_style{
      padding : 10px 30px;
      cursor: pointer;
      display:flex;
      align-items: center;
    }
    #content{
      width : 75%;
      height : auto;
      padding: 20px 50px;
    }
    .icon_closed{
          height: 8px;
    margin-left: 14px;
    transform: rotate(-90deg);
    pointer-events: none;
    }
     .icon_open{
    height: 8px;
    margin-left: 14px;
    transform: rotate(180deg);
    pointer-events: none;
    }
   .bread_crumb_div{
    display:flex;
    margin: 20px 0px;
   }
   .crumb{
    padding: 4px 15px;
    font-size: 14px;
    color: white;
    background-color: #4758b9;
    border-radius: 6px;
    margin-right: 7px;
    cursor : pointer;
    }
    .content_p{
     padding: 20px 0px;
    font-weight: bold;
    font-size: 20px;
    }
    .content_des{
    max-width: 600px;
    color: #636363;
    letter-spacing: 0.5px;
    }
